/*importando tipo de font para o titulo*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Concert+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Concert+One&family=Play:wght@400;700&display=swap');

/*zerando a margem e o padding de tudo*/
*{
    margin: 0;
    padding: 0;
}
/*manipulando a tag body*/
body{
height: 100vh;/*define que o corpo é 100% da altura da tela*/
display: flex; /**display: flex; /*alinha todos os itens em linha*/
box-sizing: border-box;/*faz com que nenhum filho ultrapasse as margens do body*/
color: rgb(0, 0, 0);  /*cor da fonte*/
}
.apresentacao{
    margin: 5%;
    display: flex;/**display: flex; /*alinha todos os itens em linha*/
    align-items: center;/*Faz com que o conteudo dentro da classe se alinhe ao centro da tela*/
    justify-content: space-between;/*da um espaçamento entre os itens em linha*/
    }
    
/*chamado a class para manipular */
.titulo-destaque{
    color: rgb(2, 67, 18);
    width: 550px;
    font-size: 59px;
    margin-bottom: 4%;
    text-align: center;
    text-decoration: underline green; /*coloca o sublinhamento abaixo do texto*/
    font-family: "Bebas Neue", sans-serif;

}
h3{
    font-family: "Concert One", sans-serif;
}
.h2-resultado{
    color: red;
    font-size: 36px;
    font-family: "Play", sans-serif;
}
.h2-parcelas{
    color: red;
    font-size: 36px;
    font-family: "Play", sans-serif;
}
.container{
    background-color: rgb(248, 251, 241); /*cor do fundo*/
    border: 6px solid rgb(100, 216, 98); /*Tamanho e cor da borda*/
    padding: 15px; /*Espaçamento entre o conteudo interno e a borda*/
    box-shadow: 7px 5px 15px rgb(69, 67, 67); /*cria uma sombra (baixo, direita e espaçamento na ordem)*/
    border-top-left-radius: 3%; /*coloca borda arredondada*/
    border-top-right-radius: 3%;/*coloca borda arredondada*/
    border-bottom-left-radius: 3%; /*coloca borda arredondada*/
    border-bottom-right-radius: 3%;/*coloca borda arredondada*/
}
.texto_quantidade_parcelas{
    font-size: 36px;
}
.texto_valor_maquineta{
    font-size: 36px;
}
.texto_valor_parcela{
    font-size: 36px;
}

.valor_digitado{
    font-size: 35px;
    margin-top: 5%;
}
.classe_parcelas{
    width: 60px;
    font-size: 20px;

}
.botao_calcular{
    width: 90px;
    font-size: 20px;
    margin-bottom: 2%;
}

/*.tamanho-imagem {
    max-width: 1000%;
}*/